<body style="background-color: #ebd9fb; font-family: Futura">
  <div style="text-align: center">
    <h1 style="font-size: 100px"> Check In Late Plate </h1> <br>
    <h5 style="font-size: 40px"> Please only do this after you have cleaned your late plate and returned it to the bin. </h5> <br> <br> <br> <br>
  </div>

  <div>
    {{#each errors}}
      <li>{{this.message}}</li>
    {{/each}}
    <form action="/checkin" method="POST">
      <label style = "font-size: 50px"> Name:  <input type="text" name="name"> </label> <br> <br>
      <label style = "font-size: 50px"> Late Plate Number:
        <select name="id">
          {{#each items}}
            <option value={{this.id}}> {{this.number}}</option>
          {{/each}}
        </select>
      </label> <br> <br> <br> <br> <br>
    <div style="text-align: center">
      <input type="submit" style = "font-size: 50px; padding: 25px" class="btn btn-primary" value="Submit!">
    </div>
    </form>
  </div>
</body>
