<body style="background-color: #ebd9fb; font-family: Futura; text-align: center;">
  <h1 style= "font-size: 80px"> Success, {{returner.name}} has checked in late plate number {{lateplate.number}}! </h1>
  <br> <br>
  <h3 style= "font-size: 80px"> Have a wonderful day :) </h3>
</body>
