<body style="background-color: #f1f4bb; font-family: Futura">
  <h1 style= "font-size: 80px"> Success, {{lender.name}} has checked out late plate number {{lateplate.number}}! </h1>
  <br> <br>
  <h3 style= "font-size: 80px"> Have a fantastic day :) </h3>

</body>
